<div class="container mt-5 mb-5">
    <h1 class="text-center">ABOUT US</h1>
    <p class="mt-5 mb-5">
        This is a <b>Food Hub</b> website for the foodies in the world.
        We Provide the facility of Click & Deliever.
        You can get your favourite food with just a single click within couple of minutes.
        We have the service which deliever the food on your door before 30 mins of time.
        <br>
        We have the deals with the best restaurants in the city.
        You can also the restaurants by which you have to buy food.
        The Quality and Service is best with respect to other food ordering websites or apps.
        <br>
    </p>
    <div class="text-center" style="font-size:100%;">
        <strong>Good Food,Good Life</strong>
        <br>
        <strong><i>Enjoy Your Daily Meal with Food HUB</i></strong>
    </div>
</div>